.info {
  background-image: url("img/Dashboard-image.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  font-family: raleway;
}
.menu {
  display: flex;
  flex-flow: row-reverse nowrap;
  padding-right: 300px;
  padding-top: 25px;
}
.btn-with-border {
  display: inline-block; /* Строчно-блочный элемент */
  color: #fff; /* Белый цвет текста */
  padding: 0.5rem 1rem; /* Поля вокруг текста */
  text-decoration: none; /* Убираем подчёркивание */
  border-left: 1px solid white;
  height: 17px;
  font-size: 12px;
  text-transform: uppercase;
}
.btn-with-border:hover {
  text-decoration: underline;
}
.btn-in-frame {
  display: flex; /* Строчно-блочный элемент */
  justify-content: center;
  align-items: center;
  color: #fff; /* Белый цвет текста */
  padding: 0.5rem 1.5rem; /* Поля вокруг текста */
  text-decoration: none; /* Убираем подчёркивание */
  border-radius: 9999px; /* Скругляем уголки */
  border: 2px solid;
  font-size: 12px;
  text-transform: uppercase;
}
.btn-in-frame:hover {
  color: #6d678e;
  background-color: white;
  border-color: white;
}
.btn {
  display: inline-block; /* Строчно-блочный элемент */
  color: #fff; /* Белый цвет текста */
  padding: 0.5rem 1rem; /* Поля вокруг текста */
  text-decoration: none; /* Убираем подчёркивание */
  font-size: 12px;
  text-transform: uppercase;
}
.btn:hover {
  text-decoration: underline;
}

.left-container {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  height: 500px;
  top: 260px;
  left: 109px;
  right: 960px;
  padding-left: 250px;
  padding-top: 180px;
}
.SEO {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  color: #333333;
}
.description {
  padding-top: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  color: grey;
}
.explore {
  display: flex; /* Строчно-блочный элемент */
  justify-content: center;
  align-items: center;
  color: #fff; /* Белый цвет текста */
  padding: 0.5rem 1rem; /* Поля вокруг текста */
  text-decoration: none; /* Убираем подчёркивание */
  border-radius: 9999px; /* Скругляем уголки */
  border: 2px solid;
  border-color: #1ff0d7;
  background-color: #1ff0d7;
  margin: 20px;
  width: 300px;
  height: 35px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  font-size: 15px;
}
.explore:hover {
  color: #1ff0d7;
  border: 2px solid;
  border-color: #1ff0d7;
  background-color: #fff;
}
.service {
  display: flex;
  justify-content: space-around;
  padding-left: 250px;
  padding-right: 450px;
}
.circle {
  width: 150px;
  height: 150px;
  border-radius: 9999px;
  background: linear-gradient(
    180deg,
    rgba(109, 103, 142, 0.5) 0%,
    rgba(246, 181, 204, 0.5) 100%
  );
}
.img {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.text {
  display: flex;
  justify-content: space-around;
  padding-left: 250px;
  padding-right: 450px;
  padding-top: 20px;
}
#text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.text-1 {
  display: flex;
  justify-content: space-around;
  padding-left: 250px;
  padding-right: 450px;
  padding-top: 10px;
  padding-bottom: 60px;
}
#text-1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  text-align: center;
}
.Social-Media {
  background-color: #e5e5e5;
  display: flex;
  height: 70vh;
}
.emblems {
  display: flex;
  position: relative;
}
#guardian {
  position: absolute;
  width: 141px;
  height: 124px;
  left: 1289px;
  top: 300px;
}
#insider {
  position: absolute;
  width: 141px;
  height: 58px;
  left: 798px;
  top: 150px;
}
#twitter {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 890px;
  top: 350px;
}
#volk {
  position: absolute;
  width: 46px;
  height: 46px;
  left: 1177px;
  top: 384px;
}
#e12 {
  position: absolute;
  width: 23px;
  height: 23px;
  left: 1064px;
  top: 565px;
}
#e11 {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 1200px;
  top: 480px;
}
#e10 {
  position: absolute;
  width: 37px;
  height: 37px;
  left: 1050px;
  top: 487px;
}
#e9 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 859px;
  top: 460px;
}
#e18 {
  position: absolute;
  width: 34px;
  height: 34px;
  left: 1033px;
  top: 130px;
}
#e17 {
  position: absolute;
  width: 34px;
  height: 34px;
  left: 1118px;
  top: 220px;
}
#e16 {
  position: absolute;
  width: 26px;
  height: 26px;
  left: 929px;
  top: 240px;
}
#e15 {
  position: absolute;
  width: 49px;
  height: 49px;
  left: 1003px;
  top: 280px;
}
#e8 {
  position: absolute;
  width: 68px;
  height: 68px;
  left: 1042px;
  top: 380px;
}
#Forbes {
  position: absolute;
  width: 141px;
  height: 58px;
  left: 1200px;
  top: 200px;
}
#Bbc {
  position: absolute;
  width: 107px;
  height: 50px;
  left: 751px;
  top: 270px;
}
.pyromids {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 90px;
  padding-left: 220px;
}
#pyr1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 137.4%;
}
#pyr2 {
  padding-top: 20px;
  color: rgba(51, 51, 51, 0.5);
  font-family: Roboto;
  font-style: normal;
  font-size: 15px;
  line-height: 139.69%;
}
#lrn {
  padding-top: 30px;
  color: green;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 139.69%;
}
.Wide-Scope {
  display: flex;
  height: 70vh;
}
.left-container-1 {
  display: flex;
  align-self: center;
  padding-left: 380px;
  position: relative;
}
#bcircle-1 {
  width: 501px;
  height: 501px;
}
#bcircle-2 {
  width: 385px;
  height: 385px; 
}
#bcircle-3 {
  width: 269px;
  height: 269px;
}
.bcircle {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border: 2px solid rgba(225, 225, 225, 0.35);
  box-sizing: border-box;
}
.set-1{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 9999px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(153, 151, 151, 0.5);
}
.q1 {
  width: 21px;
  height: 14px;
  left: 700px;
  top: 340px;
}
.q2 {
  width: 21px;
  height: 14px;
  left: 350px;
  top: 200px;
}
.q3 {
  width: 21px;
  height: 14px;
  left: 790px;
  top: 200px;
}
.q4 {
  width: 21px;
  height: 14px;
  left: 790px;
  top: 400px;
}
.q5 {
  width: 21px;
  height: 14px;
  left: 590px;
  top: 90px;
}
.q6 {
  width: 21px;
  height: 14px;
  left: 490px;
  top: 380px;
}
.q7 {
  width: 21px;
  height: 14px;
  left: 730px;
  top: 0px;
}
.q8 {
  width: 21px;
  height: 14px;
  left: 430px;
  top: 0px;
}
#k1 {
  width: 25px;
  height: 25px;
}
#k2 {
  width: 54px;
  height: 54px;
}
#k3 {
  width: 63px;
  height: 63px;
}
#k4 {
  width: 42px;
  height: 42px;
}
#k5 {
  width: 66px;
  height: 66px;
}
#k6 {
  width: 55px;
  height: 55px;
}
#k7 {
  width: 65px;
  height: 65px;
}
#k8 {
  width: 82px;
  height: 82px;
}
.right-container-1 {
  display: flex;
  flex-flow: column wrap;
  margin-top: 50px;
  margin-left: 180px;
}
.z1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 137.4%;
}
.z2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 139.69%;
  color: rgba(51, 51, 51, 0.5);
}
#cmp {
  margin-top: 50px;
  color: green;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 139.69%;
}
.clients {
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  height: 70vh;
  padding-right: 130px;
}
.top-container {
  display: flex;
  position: relative;
}
.clients-2 {
  background-color: #e5e5e5;
  display: flex;
  justify-content: space-between;
  height: 20vh;
  padding-top: 100px;
  padding-right: 400px;
  padding-left: 200px;
}
.w1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  text-align: center;
  text-decoration-line: underline;
}
.set-2 {
  position: absolute;
  border-radius: 9999px;
}
.img-1 {
  width: 116px;
  height: 136px;
  left: 190.1px;
  top: 345.84px;
}
.img-2 {
  width: 92px;
  height: 129px;
  left: 0px;
  top: 274px;
}
.img-3 {
  width: 118px;
  height: 145px;
  right: 500px;
  top: 537px;
}
.img-4 {
  width: 113px;
  height: 42px;
  right: 550px;
  top: 106px;
}
.img-5 {
  width: 118.78px;
  height: 23.08px;
  left: 552.33px;
  top: 071px;
}
.img-6 {
  width: 110px;
  height: 111px;
  left: 204px;
  top: 157px;
}
.img-7 {
  width: 118px;
  height: 136px;
  left: 405px;
  top: 286px;
}
.img-8 {
  width: 116px;
  height: 134px;
  left: 586px;
  top: 471px;
}
.img-9 {
  width: 108px;
  height: 132px;
  left: 207px;
  top: 514px;
}
#img-1 {
  width: 60px;
  height: 60px;
  background: url("img/blyat.png");
  box-shadow: 0px 50px 50px rgba(110, 52, 37, 0.3);
}
#img-2 {
  width: 90px;
  height: 90px;
  background: url("img/monky.png");
  box-shadow: 0px 50px 50px rgba(110, 52, 37, 0.3);
}
#img-3 {
  width: 120px;
  height: 120px;
  background: url("img/sunboy.png");
  box-shadow: 0px 50px 50px rgba(43, 43, 43, 0.3);
}
#img-4 {
  width: 170px;
  height: 170px;
  background: url("img/pudge.png");
  box-shadow: 0px 50px 50px rgba(61, 78, 88, 0.3);
}
#img-5 {
  width: 165px;
  height: 165px;
  background: url("img/butya.png");
  box-shadow: 0px 50px 50px rgba(118, 68, 35, 0.3);
}
#img-6 {
  width: 95px;
  height: 95px;
  background: url("img/fantomas.png");
  box-shadow: 0px 50px 50px rgba(49, 173, 234, 0.3);
}
#img-7 {
  width: 130px;
  height: 130px;
  background: url("img/valerka.png");
  box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.3);
}
#img-8 {
  width: 120px;
  height: 120px;
  background: url("img/xarakter.png");
  box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.3);
}
#img-9 {
  width: 170px;
  height: 170px;
  background: url("img/gachi.png");
  box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.3);
}
.re {
  width: 199.65px;
  height: 117px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(153, 151, 151, 0.5);
}
.payment {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.set-3 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
}
.n1 {
  font-size: 35px;
  padding-top: 80px;
}
.n2 {
  font-size: 18px;
}
.fbk {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: url("img/Image\ illustrat.png");
  height: 69vh;
  background-repeat: no-repeat;
  background-position: center;
}
.fbk1 {
  font-size: 35px;
  color: #ffffff;
}
.fbk2 {
  font-size: 18px;
  color: #ffffff;
}
.footer {
  display: flex;
  justify-content: space-around;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 250px;
  padding-right: 250px;
}
.footer-column {
  display: flex;
  flex-flow: column wrap;
}
.footer-text {
  display: inline-block;
  color: #000000;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-bottom: 2px solid green;
  text-transform: uppercase;
}
.footer-btn {
  display: inline-block;
  color: #000000;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.footer-btn:hover {
  display: inline-block;
  color: #000000;
  padding: 0.5rem 1rem;
  text-decoration: underline;
}
.footer-text-2 {
  display: inline-block;
  color: gray;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.a {
  color: green;
}
